<h2>Login Page</h2>

<form method="post" action="/login">
    <div class="block">
        <label>Username: </label>
        <input type="text" name="username" required>
    </div>
    <div class="block">
        <label>Password: </label>
        <input type="password" name="password" required>
    </div>
    <div class="block">
        <button type="submit">Log In</button>
    </div>
</form>